@{
    Page.Title = "Pongshore";
    Layout = "_Layout.cshtml";
}


<div id ="GameScreen">
    <label class ="leftscore"></label>
    <label class ="rightscore"></label>
    <span class ="paddle left"></span>
    <span class ="paddle right"></span>
    <span class ="ball"></span>
</div>