<!DOCTYPE html>
<html>
    <head>
        <script src="jquery-2.0.3.js"></script>
        <script src="pong.js"></script>
        <link href="pong.css" rel="stylesheet" />
        <title>@Page.Title</title>
    </head>
    <body>
        @RenderBody()
    </body>
</html>
