@using DAL;

@{
    Page.Title = "Pongshore";
    Layout = "_Layout.cshtml";
    
    
}

<audio class ="scoresound"src="pacman_dies_y.wav" type="audio/wav">Update your browser to hear sound</audio>
<audio class ="wallsound"src="boing_x.wav" type="audio/wav"></audio>
<audio class="paddlesound"src="blip.wav" type="audio/wav"></audio>
<div id ="GameScreen">
    <label class="user1"></label>
    <label class="user2"></label>
    <label class ="leftscore"></label>
    <label class ="rightscore"></label>
    <span class ="paddle left"></span>
    <span class ="paddle right"></span>
    <span class ="ball"></span>
    <span class="button serve">Serve</span>
    <span class="button pause">Pause</span>
</div>